<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="filters row">

        <div class="ui-group col-md-3">
          <h5>Nachten</h5>
          <div class="button-group js-radio-button-group" data-filter-group="night">
            <button class="button is-checked" data-filter="">alle</button>
            <button class="button" data-filter=".night-1">1</button>
            <button class="button" data-filter=".night-2">2</button>
            <button class="button" data-filter=".night-3">3</button>
          </div>
        </div>

        <div class="ui-group col-md-6">
          <h5>Regio</h5>
          <div class="button-group js-radio-button-group" data-filter-group="region">
            <button class="button is-checked" data-filter="">alle</button>
            <button class="button" data-filter=".region-noord-nederland">Noord-Nederland</button>
            <button class="button" data-filter=".region-midden-nederland">Midden-Nederland</button>
            <button class="button" data-filter=".region-zuid-nederland">Zuid-Nederland</button>
            <button class="button" data-filter=".region-belgie">België</button>
          </div>
        </div>

        <div class="ui-group col-md-3">
          <h5>Gebied</h5>
          <div class="button-group js-radio-button-group" data-filter-group="area">
            <button class="button is-checked" data-filter="">alle</button>
            <button class="button" data-filter=".area-natuur">Natuur</button>
            <button class="button" data-filter=".area-stad">Stad</button>
            <button class="button" data-filter=".area-kust">Kust</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
