<footer class="container footer text-center">
  <ul class="disclaimer">
    <li><a target="_blank" href="http://www.luxuryhotelcompany.com/Disclaimer.aspx?country=1&la=2&playAni=false">Disclaimer</a></li>
    <li>|</li>
    <li><a target="_blank" href="http://www.luxuryhotelcompany.com/TermsAndConditions/av_nl.pdf">Algemene voorwaarden</a></li>
    <li>|</li>
    <li>LuxuryHotelCompany is een handelsnaam van Advalley BV</li>
    <li>|</li>
    <li>KvK 34355881</li>
  </ul>
  <p>Powered by LuxuryHotelCompany</p>
</footer>
